<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>헤더 컴포넌트</title>
    <link rel="stylesheet" href="./../../css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-inner">
        <h1 class="brand">
          <figure class="figure">
            <picture class="picture">
              <source
                srcset="
                  ./../../images/logo@1x.png 1x,
                  ./../../images/logo@2x.png 2x,
                  ./../../images/logo@3x.png 3x,
                  ./../../images/logo@4x.png 4x
                "
                media="(max-width: 768px)"
              />
              <source
                srcset="./../../images/logo-desktop.png"
                media="(min-width: 768px)"
              />
              <img src="./../../images/logo-desktop.png" alt="NETFLIX" />
            </picture>
          </figure>
        </h1>
        <div class="header-button-wrapper-mobile">
          <select name="lang" class="select-lang select-lang-mobile">
            <option value="ko" selected>한국어</option>
            <option value="en" lang="en">English</option>
          </select>
          <a href="/" class="login-button login-button-mobile">로그인</a>
        </div>
        <div class="header-button-wrapper-desktop">
          <select name="lang" class="select-lang select-lang-desktop">
            <option value="ko" selected>한국어</option>
            <option value="en" lang="en">English</option>
          </select>
          <a href="/" class="login-button login-button-desktop">로그인</a>
        </div>
      </div>
    </header>
  </body>
</html>
