<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로고 - 브랜드 이미지</title>
    <link rel="stylesheet" href="./../../css/style.css" />
  </head>
  <body>
    <div class="logo-container">
      <div class="logo-wrapper">
        <figure class="logo-figure">
          <picture class="logo-picture">
            <source
              srcset="
                /mission-03/images/logo@1x.png 1x,
                /mission-03/images/logo@2x.png 2x,
                /mission-03/images/logo@3x.png 3x,
                /mission-03/images/logo@4x.png 4x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="/mission-03/images/logo-desktop.png"
              media="(min-width: 768px)"
            />
            <img src="/mission-03/images/logo-desktop.png" alt="NETFLIX" />
          </picture>
        </figure>
      </div>
    </div>
  </body>
</html>
